<div class="container">
  <p *ngIf="counter; else emptyCart">
    Positions in  cart: {{counter}}
    <button (click)="showAll()">{{listIsShown ? 'Hide all' : 'Show all'}}</button>
  </p>

  <ng-container *ngIf="listIsShown" >
    <div *ngFor="let cart of list; index as i" class="list-box">
      <div class="counter">{{i + 1}})</div><app-cart-item [data]="cart"
        (removeItem)="removeFromCart($event)"
        (increase)="increaseItems($event)"
        (decrease)="decreaseItems($event)">
      </app-cart-item>
    </div>

    <div *ngIf="counter" class="total">Total: {{total | currency: '$'}}</div>

    <button class="confirm-btn" (click)="confirm()">Confirm the order</button>
  </ng-container>

  <ng-template #emptyCart>
    <p> Your cart is empty</p>
  </ng-template>
</div>
