<div class="container">
  <span class="date">{{todayDate | date: 'dd/MM/yyyy'}}</span>

  <p *ngIf="counter; else emptyCart">
    Positions in  cart: {{counter}}
    <button (click)="showAll()">{{listIsShown ? 'Hide all' : 'Show all'}}</button>
  </p>

  <ng-container *ngIf="listIsShown" >
    <div class="items-header" *ngIf="list?.length > 1">
      Sort by:
      <span [ngClass]="{'active': isSortBy('name')}" (click)="sortBy('name')">Name
        <i class="material-icons icon">{{sortAsc ? 'arrow_upward' : 'arrow_downward'}}</i>
      </span>
      <span [ngClass]="{'active': isSortBy('price')}" (click)="sortBy('price')">Price
        <i class="material-icons icon">{{sortAsc ? 'arrow_upward' : 'arrow_downward'}}</i>
      </span>
      <span [ngClass]="{'active': isSortBy('count')}" (click)="sortBy('count')">Count
        <i class="material-icons icon">{{sortAsc ? 'arrow_upward' : 'arrow_downward'}}</i>
      </span>
    </div>

    <div *ngFor="let cart of list | orderBy : 'name'; index as i" class="list-box">
      <div class="counter">{{i + 1}})</div><app-cart-item [data]="cart"
        (removeItem)="removeFromCart($event)"
        (increase)="increaseItems($event)"
        (decrease)="decreaseItems($event)">
      </app-cart-item>
    </div>

    <ng-container *ngIf="counter" >
      <div class="total">Total: {{total | currency: 'EUR'}}</div>

      <button class="confirm-btn" (click)="confirm()">Confirm the order</button>
      <button class="clear-btn" (click)="clearCart()">Clear the cart</button>
    </ng-container>
  </ng-container>

  <ng-template #emptyCart>
    <p> Your cart is empty</p>
  </ng-template>
</div>
