.container {
  width: 400px;
}

.date{
  float: right;
}

.items-header {
  margin-bottom: 15px;
  text-align: right;
  font-size: 20px;

  > span {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;

    &.active {
      color: blue;

      .icon {
        display: inline;
      }
    }

    .icon {
      display: none;
      position: relative;
      top: 6px;
      left: -3px;
    }
  }
}

.list-box {
  display: flex;

  .counter {
    margin-top: 5px;
    font-size: 20px;
  }
}

.total {
  font-size: 22px;
  position: relative;
  left: 100%;
  color: green;
}

.clear-btn {
  color: red;
  margin-left: 50px;
}
