<h2 class="main-title">Your cart</h2>
<div class="container">
  <span class="date">{{todayDate | date: 'dd/MM/yyyy'}}</span>

  <div class="cart-table" *ngIf="counter; else empty">
    <div class="items-header" *ngIf="list?.length > 1">
      Sort by:
      <span [ngClass]="{'active': isSortBy('name')}" (click)="sortBy('name')">Name
        <i class="material-icons icon">{{sortAsc ? 'arrow_upward' : 'arrow_downward'}}</i>
      </span>
      <span [ngClass]="{'active': isSortBy('price')}" (click)="sortBy('price')">Price
        <i class="material-icons icon">{{sortAsc ? 'arrow_upward' : 'arrow_downward'}}</i>
      </span>
      <span [ngClass]="{'active': isSortBy('count')}" (click)="sortBy('count')">Count
        <i class="material-icons icon">{{sortAsc ? 'arrow_upward' : 'arrow_downward'}}</i>
      </span>
    </div>

    <div *ngFor="let cart of list | orderBy : 'name'; index as i" class="list-box">
      <div class="counter">{{i + 1}})</div><app-cart-item [data]="cart"
        (removeItem)="removeFromCart($event)"
        (increase)="increaseItems($event)"
        (decrease)="decreaseItems($event)">
      </app-cart-item>
    </div>

    <ng-container *ngIf="counter" >
      <div class="total">Total: {{total | currency: 'EUR'}}</div>

      <button class="btn btn--confirm" (click)="confirm()">Confirm the order</button>
      <button class="btn btn--clear" (click)="clearCart()">Clear the cart</button>
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <p class="cart-empty" > Your cart is empty. Please proceed to <a [routerLink]="['/']">products list</a></p>
</ng-template>
