<mat-card class="product-card">
  <mat-card-header class="header">
    <mat-card-title>{{data.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>{{data.description}}</li>
      <li>{{data.price}}</li>
      <li>Made in {{data.category}}</li>
      <li>Total:{{data.count}}</li>
      <li>Availaibility: {{data.isAvailable ? 'in the shop' : 'absent'}}</li>

    </ul>

    <button class="buy-btn" *ngIf="data.isAvailable" (click)="onClick()">Buy</button>
  </mat-card-content>
</mat-card>
